/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: "Roboto", sans-serif;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
body {
    @apply scrollbar-thin scrollbar-thumb-myGray overflow-y-scroll overflow-hidden bg-white;
}
/*---------------------*/

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    font-size: 14px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 25px;
    background-color: transparent;
}

@layer components {
    .navItem {
        @apply text-xs p-2 sm:p-5 flex flex-col items-center gap-1 hover:bg-gray-100 w-full active:bg-lightGray transition-colors cursor-pointer lg:flex-row lg:gap-3  lg:py-2 text-black sm:text-sm;
    }

    .grayInput {
        @apply border-gray-300 border focus:border-primaryBlue focus:shadow-xs focus:shadow-primaryBlue;
    }

    .subBtn {
        @apply py-[8px] font-medium uppercase px-2 xs:px-4 active:scale-95 transition-all text-[12px] xs:text-[14px];
    }

    .sectionTitle {
        @apply font-medium text-xl mb-2;
    }

    .actionIcon {
        @apply w-10 h-10 active:bg-lightGray rounded-[50%] p-2 transition-colors;
    }

    .popupLi {
        @apply hover:bg-lightGray px-5 py-2 flex items-center gap-3 cursor-pointer whitespace-nowrap transition-colors;
    }

    .preview {
        @apply bg-lightGray w-full h-auto;
    }

    .myScroll {
        @apply scrollbar-thin scrollbar-thumb-myGray;
    }

    .videoStat {
        @apply lg:max-w-[100px] w-full max-w-[70px] hidden lg:block;
    }

    .channelItem {
        @apply py-2 px-3 hover:bg-lightGray self-start flex items-center justify-center;
    }

    .channelTab {
        @apply sm:px-7 sm:py-4 uppercase relative hover:bg-gray-200 transition-colors py-2 px-4 text-[12px];
        &::before {
            content: none;
            position: absolute;
            background-color: black;
            width: 100%;
            height: 3px;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            @keyframes tab {
                0% {
                    transform: scaleX(0);
                    opacity: 0.3;
                }
                100% {
                    transform: scaleX(1);
                    opacity: 1;
                }
            }
            animation: tab 0.3s ease;

            @media (max-width: 350px) {
                display: none;
            }
        }
    }
}
